// header styles
.header {
  padding: 1rem 6.5rem;
  width: 100%;
  background-color: $color-black-dark;
  
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &__title {
    font-size: 1.8rem;
    color: $color-white;
  }

  &__nav {
    display: flex;
    align-items: center;

    &-links {
      margin-right: 50px;
      list-style: none;

      display: flex;
      gap: 50px;
    }

    &-link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      color: $color-white;
      cursor: pointer;

      &:hover {
        color: $color-active;
      }
    }

    &-social {
      display: flex;

      & i {
        padding-right: 30px;
        font-weight: bolder;
        color: $color-white;
        cursor: pointer;

        &:hover {
          color: $color-active;
        }
      }
    }
  }
}