$color-white: #fff;
$color-white-grey: #f9f9f9;

$color-black: #000;
$color-black-light: #171819;
$color-black-dark: #222;

$color-grey-light: #7f8c8d;
$color-grey-medium: #95a5a6;
$color-grey-dark: #666262;

$color-active: #ff5733;