@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 1rem 6.5rem;
  width: 100%;
  background-color: #222;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header__title {
  font-size: 1.8rem;
  color: #fff;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-links {
  margin-right: 50px;
  list-style: none;
  display: flex;
  gap: 50px;
}
.header__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
.header__nav-link:hover {
  color: #ff5733;
}
.header__nav-social {
  display: flex;
}
.header__nav-social i {
  padding-right: 30px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}
.header__nav-social i:hover {
  color: #ff5733;
}
.header #bars {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #ff5733;
  cursor: pointer;
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 1rem 4.5rem;
  }
  .header__nav-links {
    margin-right: 30px;
    gap: 25px;
  }
  .header__nav-link {
    font-size: 1rem;
  }
  .header-social {
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 1rem 3rem;
  }
  .header__title {
    font-size: 1.6rem;
  }
  .header__nav {
    margin-top: 4.4rem;
    padding: 20px 0px 20px;
    width: 250px;
    height: 42vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: -300px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s;
  }
  .header__nav-links {
    margin: 0px 0px 30px 0px;
    text-align: center;
    flex-direction: column;
    gap: 40px;
  }
  .header__nav-social {
    padding-left: 20px;
  }
  .header #bars {
    display: initial;
    transition: color 0.7s;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 1rem;
  }
  .header__title {
    font-size: 1.4rem;
  }
}
.banner {
  height: 100vh;
  background-image: url("/assets/bg.jpg");
  background-color: #000;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.banner__overlay {
  height: 100%;
  background-color: #171819;
  opacity: 0.85;
}
.banner__content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.banner__content-intro {
  margin-bottom: 1.4rem;
  font-size: 1.3rem;
  color: #7f8c8d;
}
.banner__content-title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
.banner__btns {
  margin-top: 2rem;
}
.banner__btn {
  text-decoration: none;
  text-transform: uppercase;
}
.banner__btn-start {
  margin-right: 10px;
  padding: 0.9rem 1.6rem;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
}
.banner__btn-start:hover {
  background-color: #ff5733;
  border: 1px solid transparent;
}
.banner__btn-learn {
  padding: 0.9rem 1.6rem;
  font-weight: 500;
  border: 1px solid #ff5733;
  border-radius: 3px;
  color: #ff5733;
}
.banner__btn-learn:hover {
  background-color: #ff5733;
  color: #fff;
}

@media (max-width: 1200px) {
  .banner__content-intro {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }
  .banner__content-title {
    font-size: 2.5rem;
  }
  .banner__btns {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .banner__btn {
    width: 50%;
    font-size: 0.9rem;
  }
  .banner__btn-start, .banner__btn-learn {
    padding: 0.7rem 1.4rem;
  }
}
@media (max-width: 767px) {
  .banner__content {
    padding: 2rem;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .banner__content-intro {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .banner__content-title {
    font-size: 2rem;
  }
  .banner__btns {
    margin-top: 1.5rem;
  }
  .banner__btn {
    font-size: 0.9rem;
  }
  .banner__btn-start, .banner__btn-learn {
    padding: 0.7rem 1.4rem;
    margin-right: 0px;
  }
}
.details {
  padding: 8rem 10rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171819;
}
.details__content {
  padding-right: 2rem;
  flex: 45%;
  display: flex;
  flex-direction: column;
}
.details__content-title, .details__content-info, .details__content-text {
  color: #fff;
}
.details__content-title {
  padding-bottom: 1.1rem;
  font-size: 2.5rem;
}
.details__content-info {
  padding-bottom: 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
}
.details__content-text {
  margin-top: 1.2rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  text-align: justify;
  color: #666262;
}
.details__content-link {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #ff5733;
  border-radius: 3px;
  color: #ff5733;
}
.details__content-link:hover {
  background-color: #ff5733;
  color: #fff;
}
.details__hours {
  padding-left: 4rem;
  flex: 45%;
  border-left: 1px solid #666262;
}
.details__hours-title {
  padding-bottom: 2.5rem;
  font-size: 2.5rem;
  color: #fff;
}
.details__hours-days {
  font-size: 1.1rem;
  color: #fff;
}
.details__hours-time {
  margin-bottom: 1.6rem;
  font-size: 1.1rem;
  color: #666262;
}

@media (max-width: 1200px) {
  .details {
    padding: 6rem;
  }
  .details__content {
    flex: 50%;
  }
  .details__content-title {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }
  .details__content-text {
    font-size: 1rem;
  }
  .details__content-link {
    font-size: 0.9rem;
  }
  .details__hours-title {
    font-size: 2rem;
  }
  .details__hours-days, .details__hours-time {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .details {
    padding: 3rem;
  }
  .details__content {
    flex: 50%;
  }
  .details__content-title {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }
  .details__content-text {
    padding-bottom: 2.2rem;
    font-size: 1rem;
  }
  .details__content-link {
    font-size: 0.9rem;
  }
  .details__hours-title {
    font-size: 2rem;
  }
  .details__hours-days, .details__hours-time {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .details {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
  .details__content {
    padding-right: 0;
    align-items: center;
  }
  .details__content-title {
    padding-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .details__content-info {
    padding-bottom: 0.4rem;
    font-size: 1rem;
    text-align: center;
  }
  .details__content-text {
    padding-bottom: 1.8rem;
    font-size: 1rem;
  }
  .details__content-link {
    font-size: 0.9rem;
  }
  .details__hours {
    padding-left: 0;
    border-left: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details__hours-title {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }
  .details__hours-days, .details__hours-time {
    font-size: 1rem;
  }
  .details__hours-tine {
    margin-bottom: 1.4rem;
  }
  .details__hours-time:last-child {
    margin-bottom: 0;
  }
}
.team {
  padding: 6rem;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team__about {
  margin-right: 6rem;
  flex: 39%;
}
.team__about-title {
  padding-bottom: 1.8rem;
  font-size: 2.1rem;
  color: #171819;
}
.team__about-content {
  font-size: 1.1rem;
  text-align: justify;
  color: #7f8c8d;
}
.team__coaches {
  flex: 0 1 55%;
  display: flex;
  gap: 3rem;
}
.team__coach {
  flex: 0 1 45%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px rgba(0, 0, 0, 0.1), 0 4.4px 10px rgba(0, 0, 0, 0.015), 0 10.6px 24.1px rgba(0, 0, 0, 0.02), 0 35px 80px rgba(0, 0, 0, 0.03);
}
.team__coach img {
  width: 100%;
  object-fit: cover;
}
.team__coach-name, .team__coach-position {
  padding: 5px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}
.team__coach-name h4, .team__coach-position h4 {
  font-size: 1.5rem;
  color: #171819;
}
.team__coach-name i, .team__coach-position i {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #666262;
  cursor: pointer;
}
.team__coach-name i {
  align-self: center;
}
.team__coach-position p {
  padding-bottom: 15px;
  color: #666262;
}

@media (max-width: 1200px) {
  .team {
    padding: 2rem;
  }
  .team__about {
    margin-right: 2.5rem;
    flex: 0 1 50%;
  }
  .team__about-title {
    padding-bottom: 1.4rem;
    font-size: 2.2rem;
  }
  .team__about-content {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .team {
    padding: 2rem;
    height: initial;
    flex-direction: column;
  }
  .team__about {
    margin: 0px 0px 20px 0px;
  }
  .team__about-title {
    padding-bottom: 1.4rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .team__about-content {
    font-size: 1rem;
  }
  .team__coaches {
    max-width: 50rem;
    gap: 2rem;
  }
  .team__coach {
    flex: 0 1 48%;
  }
  .team__coach-name {
    padding: 5px 10px 0 10px;
  }
  .team__coach-name h4 {
    font-size: 1.1rem;
  }
  .team__coach-name i {
    font-size: 0.9rem;
  }
  .team__coach-position {
    padding: 5px 10px 0 10px;
  }
  .team__coach-position p {
    font-size: 0.9rem;
  }
  .team__coach-position i {
    padding-top: 5px;
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .team__about-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 576px) {
  .team__about-title {
    font-size: 1.8rem;
    text-align: center;
  }
  .team__coaches {
    max-width: 25rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .team__coach-name h4, .team__coach-position h4 {
    font-size: 1.8rem;
  }
  .team__coach-name i, .team__coach-position i {
    font-size: 1.5rem;
  }
  .team__coach-position p {
    font-size: 1rem;
  }
}
.trainings {
  padding: 3rem 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.trainings__intro {
  padding-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: #95a5a6;
}
.trainings__title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
}
.trainings__cards {
  flex: 0 1 55%;
  display: flex;
  gap: 3rem;
}

.training {
  flex: 0 1 33%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px rgba(0, 0, 0, 0.1), 0 4.4px 10px rgba(0, 0, 0, 0.015), 0 10.6px 24.1px rgba(0, 0, 0, 0.02), 0 35px 80px rgba(0, 0, 0, 0.03);
}
.training img {
  width: 100%;
  object-fit: cover;
}
.training__details {
  padding: 5px 20px 10px 20px;
}
.training__details-info {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.training__details-name {
  display: flex;
  flex-direction: column;
}
.training__details-name h4 {
  font-size: 1.7rem;
  color: #171819;
}
.training__details-name p {
  font-size: 1.1rem;
  color: #666262;
}
.training__details-name p span {
  font-weight: 700;
}
.training__details-price h5 {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #ff5733;
}
.training__details-coach {
  font-size: 1.1rem;
  text-align: justify;
  color: #666262;
}

@media (max-width: 1024px) {
  .trainings {
    padding: 4rem 2rem;
  }
  .trainings__intro {
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  .trainings__title {
    padding-bottom: 4rem;
    font-size: 2rem;
  }
  .training__details {
    padding: 5px;
  }
  .training__details-info {
    padding-bottom: 7px;
  }
  .training__details-name {
    padding: 5px;
  }
  .training__details-name h4 {
    font-size: 1.2rem;
  }
  .training__details-name p {
    font-size: 1rem;
  }
  .training__details-price h5 {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.8rem;
  }
  .training__details-coach {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .trainings {
    padding: 2rem;
    height: initial;
    justify-content: flex-start;
  }
  .trainings__intro {
    padding-bottom: 0.1rem;
    font-size: 1rem;
  }
  .trainings__title {
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  .trainings__cards {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .training {
    max-width: 30rem;
  }
  .training__details {
    padding: 5px;
  }
  .training__details-info {
    padding-bottom: 0px;
  }
  .training__details-name {
    padding: 0px 0px 5px 0px;
  }
  .training__details-name h4 {
    font-size: 1.2rem;
  }
  .training__details-name p {
    font-size: 0.8rem;
  }
  .training__details-price h5 {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.8rem;
  }
  .training__details-coach {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .training__details {
    padding: 5px;
  }
  .training__details-info {
    padding-bottom: 0px;
  }
  .training__details-name {
    padding: 0px 0px 5px 0px;
  }
  .training__details-name h4 {
    font-size: 1.5rem;
  }
  .training__details-name p {
    font-size: 0.9rem;
  }
  .training__details-coach {
    font-size: 0.9rem;
  }
}
.contact {
  padding: 8rem;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}
.contact__form {
  flex: 0 0 45%;
}
.contact__form h2 {
  padding-bottom: 10px;
  font-size: 2rem;
  color: #171819;
}
.contact__form-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.85rem;
}
.contact__form-details input,
.contact__form-details textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  border: 1px solid #666262;
  outline: none;
}
.contact__form-details input:focus,
.contact__form-details textarea:focus {
  border: 2px solid #171819;
}
.contact__form-details input::placeholder,
.contact__form-details textarea::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
}
.contact__form-details button {
  margin-top: 15px;
  padding: 15px 0;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #171819;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.contact__form-details button:hover {
  background-color: #ff5733;
  color: #fff;
}
.contact__map {
  flex: 0 0 45%;
}
.contact__map h2 {
  padding-bottom: 10px;
  font-size: 2rem;
  color: #171819;
}
.contact__map p {
  padding-bottom: 20px;
  font-size: 1.1rem;
}
.contact__map p i {
  padding-right: 4px;
  color: #ff5733;
}
.contact__map iframe {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .contact__form h2 {
    font-size: 1.9rem;
  }
  .contact__map h2 {
    font-size: 1.9rem;
  }
  .contact__map p {
    font-size: 1rem;
  }
  .contact__map iframe {
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .contact {
    padding: 6rem;
  }
  .contact__form h2 {
    padding-bottom: 7px;
    font-size: 1.4rem;
  }
  .contact__form-details input,
  .contact__form-details textarea {
    padding: 12px;
  }
  .contact__map h2 {
    font-size: 1.4rem;
  }
  .contact__map p {
    padding-bottom: 20px;
    font-size: 0.8rem;
  }
  .contact__map p i {
    padding-right: 2px;
  }
  .contact__map iframe {
    height: 87%;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 2rem;
    flex-direction: column;
    height: initial;
  }
  .contact__form h2 {
    font-size: 1.5rem;
  }
  .contact__form-details {
    margin-bottom: 15px;
  }
  .contact__form-details textarea {
    height: 15vh;
  }
  .contact__form-details input::placeholder,
  .contact__form-details textarea::placeholder {
    font-size: 0.8rem;
  }
  .contact__form-details button {
    margin-left: auto;
    padding: 10px;
    width: 30%;
    font-size: 0.8rem;
  }
  .contact__map h2 {
    font-size: 1.5rem;
  }
  .contact__map p {
    padding-bottom: 10px;
    font-size: 1rem;
  }
}
.footer {
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #7f8c8d;
}
.footer__copyright p, .footer__contact p {
  color: #7f8c8d;
}
.footer__contact i {
  padding-right: 5px;
  color: #ff5733;
}
.footer__contact-email, .footer__contact-tel {
  text-decoration: none;
  color: #7f8c8d;
}

@media (max-width: 1024px) {
  .footer {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 1rem;
  }
  .footer__copyright p, .footer__contact p {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .footer {
    justify-content: center;
  }
  .footer__copyright {
    display: none;
  }
  .footer__contact p {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
