// footer styles
.footer {
  padding: 4rem 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $color-grey-light;

  &__copyright,
  &__contact {
    p {
      color: $color-grey-light;
    }
  }

  &__contact {
    i {
      padding-right: 5px;
      color: $color-active;
    }

    &-email,
    &-tel {
      text-decoration: none;
      color: $color-grey-light;
    }
  }
}

// footer media styles
@include laptop {
  .footer {
    padding: 6rem;
  }
}

@include tablet {
  .footer {
    padding: 1rem;

    &__copyright,
    &__contact {
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@include mobile {
  .footer {
    justify-content: center;

    &__copyright {
      display: none;
    }

    &__contact {
      p {
        text-align: center;
      }
    }
  }
}