.footer {
padding: 4rem 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $color-grey-light;

  &__copyright,
  &__contact {
    p {
      color: $color-grey-light;
    }
  }

  &__contact {
    i {
      padding-right: 5px;
      color: $color-active;
    }
  }
}