// team styles
.team {
  padding: 6rem;
  height: 100vh;
  background-color: $color-white-grey;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__about {
    margin-right: 6rem;
    flex: 39%;

    &-title {
      padding-bottom: 1.8rem;
      font-size: 2.1rem;
      color: $color-black-light;
    }

    &-content {
      font-size: 1.1rem;
      text-align: justify;
      color: $color-grey-light;

      &:last-child {
        margin-top: 10px;
      }
    }
  }

  &__coaches {
    flex: 0 1 55%;
    display: flex;
    gap: 3rem;
  }

  &__coach {
    flex: 0 1 45%;
    height: auto;
    background-color: $color-white;
    box-shadow: 
      0 1.6px 3.6px rgba(0, 0, 0, 0.1),
      0 4.4px 10px rgba(0, 0, 0, 0.015),
      0 10.6px 24.1px rgba(0, 0, 0, 0.02),
      0 35px 80px rgba(0, 0, 0, 0.03);
    cursor: pointer;

    &-front {
      backface-visibility: hidden;
      // position: absolute;
      transform: rotateY(0deg);
      transition: transform 0.6s linear;
    }

    &:hover > &-front {
      transform: rotateY(-180deg);
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    &-details {
      padding: 1rem;
      text-align: center;

      h4 {
        font-size: 1.4rem;
        color: $color-black-light;
      }

      p {
        font-size: 1.2rem;
        color: $color-grey-dark;
      }
    }

    &-back {
      padding: 1rem;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(180deg);

      backface-visibility: hidden;
      transition: transform 0.6s linear;
      background-color: $color-white;
      overflow-y: auto;
      border-bottom: 0.5rem solid transparent;

      h4 {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
      }

      p {
        margin-top: 0.7rem;
        height: fit-content;
        font-size: 0.9rem;
        text-align: justify;
        color: $color-grey-dark;
      }
    }

    &:hover > &-back {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(0deg);
    }

    &-social {
      font-size: 1.2rem;
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      cursor: pointer;

      i:hover {
        color: $color-active;
      }
    }
  }
}

// team media styles
@include desktop{
  .team {
    padding: 2rem 2rem 0rem;
    margin-bottom: 3rem;

    &__about {
      margin-right: 2.5rem;
      flex: 0 1 50%;

      &-title {
        padding-bottom: 1.2rem;
        font-size: 2.2rem;
      }

      &-content {
        font-size: 1rem;
      }
    }

    &__coach {
      &-back {
      
        h4 {
          margin-bottom: 0.5rem;
          font-size: 1.4rem;
        }
  
        p {
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
    
  }
}


@include laptop{
  .team {
    padding: 2rem;
    flex-direction: column;

    // for anchor ->
    margin-top: -30px;
    padding-top: 70px;
    // <--
    
    &__about {
      margin: 0px 0px 20px 0px;

      &-title {
        padding-bottom: 1.2rem;
        font-size: 1.8rem;
        text-align: center;
      }

      &-content {
        font-size: 1rem;
      }
    }

    &__coaches {
      max-width: 50rem;
      justify-content: center;
      gap: 2rem;
    }

    &__coach {
      flex: 0 1 40%;

      &-details {
        h4 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
      
      &-back {
        h4 {
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
        }
  
        p {
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@include tablet{
  .team {
    &__about {

      &-title {
        font-size: 1.8rem;
      }
    }

    &__coach {
      &-back {
        
        h4 {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }
  
        p {
          margin-top: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@include mobile{
  .team {
    height: initial;

    &__about {
      &-title {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    &__coaches {
      max-width: 25rem;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }

    &__coach {
      max-width: 20rem;


      &-details {
        h4 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1rem;
        }
      }
      &-back {
        
        h4 {
          font-size: 1rem;
        }
  
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}