// team styles
.team {
  padding: 6rem;
  height: 100vh;
  background-color: $color-white-grey;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__about {
    margin-right: 6rem;
    flex: 39%;

    &-title {
      padding-bottom: 1.8rem;
      font-size: 2.1rem;
      color: $color-black-light;
    }

    &-content {
      font-size: 1.1rem;
      text-align: justify;
      color: $color-grey-light;
    }
  }

  &__coaches {
    flex: 0 1 55%;
    display: flex;
    gap: 3rem;
  }

  &__coach {
    flex: 0 1 45%;
    height: auto;
    background-color: $color-white;
    box-shadow: 
      0 1.6px 3.6px rgba(0, 0, 0, 0.1),
      0 4.4px 10px rgba(0, 0, 0, 0.015),
      0 10.6px 24.1px rgba(0, 0, 0, 0.02),
      0 35px 80px rgba(0, 0, 0, 0.03);


    img {
      width: 100%;
      object-fit: cover;
    }

    &-name,
    &-position {
      padding: 5px 20px 0 20px;
      display: flex;
      justify-content: space-between;

      h4 {
        font-size: 1.5rem;
        color: $color-black-light;
      }

      i {
        font-size: 1.3rem;
        font-weight: bolder;
        color: $color-grey-dark;
        cursor: pointer;
      }
    }

    &-name i {
      align-self: center;
    }

    &-position p {
      padding-bottom: 15px;
      color: $color-grey-dark;
    }
  }
}

// team media styles
@include desktop{
  .team {
    padding: 2rem;

    &__about {
      margin-right: 2.5rem;
      flex: 0 1 50%;

      &-title {
        padding-bottom: 1.4rem;
        font-size: 2.2rem;
      }

      &-content {
        font-size: 1rem;
      }
    }
  }
}


@include laptop{
  .team {
    padding: 2rem;
    height: initial;
    flex-direction: column;
    

    &__about {
      margin: 0px 0px 20px 0px;

      &-title {
        padding-bottom: 1.4rem;
        font-size: 1.8rem;
        text-align: center;
      }

      &-content {
        font-size: 1rem;
      }
    }

    &__coaches {
      max-width: 50rem;
      gap: 2rem;
    }

    &__coach {
      flex: 0 1 48%;

      &-name {
        padding: 5px 10px 0 10px;

        h4 {
          font-size: 1.1rem;
        }

        i {
          font-size: 0.9rem;
        }
      }

      &-position {
        padding: 5px 10px 0 10px;

        p {
          font-size: 0.9rem;
        }

        i {
          padding-top: 5px;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@include tablet{
  .team {
    &__about {

      &-title {
        font-size: 1.8rem;
      }
    }
  }
}

@include mobile{
  .team {

    &__about {
      &-title {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    &__coaches {
      max-width: 25rem;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__coach {
      &-name,
      &-position {
    
        h4 {
          font-size: 1.8rem;
        }

        i {
          font-size: 1.5rem;
        }
      }

      &-position p {
        font-size: 1rem;
      }
    }
  }
}